body { min-height: 100vh; display: flex; flex-direction: column; }
header{ height: 7vh; } 
main{flex-grow: 1;} 
footer{height: 7vh; }

*{
  outline: 1px solid grey;
}

.bg-woods{
  background-image: url(https://ih0.redbubble.net/image.438463701.4079/flat,1000x1000,075,f.u2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-kirby{
  background-image: url(https://thumbs.gfycat.com/ActiveUnconsciousHyena-size_restricted.gif);
  background-position: center;
  height: 15vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-kirby-hammer{
  background-image: url();
}

.bg-waddle{
  background-image: url(https://cdn2.scratch.mit.edu/get_image/gallery/25121648_170x100.png);
}

.bg-king{
  background-image: url(https://pa1.narvii.com/7252/c005395abb4157454c5afad821ed55656ddabb92r1-200-200_hq.gif
  );
  background-position: center;
  height: 30vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-king-hurt{
  background-image: url(https://i.imgur.com/fS1gBBI.gif);
}

.bg-hammer{
  background-image: url(kirbys\ hammer.png);
  background-position: center;
  height: 15vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-star{
  background-image: url(https://pa1.narvii.com/6256/8f589cadf2b912328e05657df7f80a6d67ae9c9d_00.gif);
  background-position: center;
  height: 15vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-cloud{
  background-image: url(https://lh3.googleusercontent.com/proxy/DD6KyKLoqWqfoynlc-ZnrtGLIXWke5B6p5MnQUwYGTx1Tueg8Sf0XrFLcUDL_HZICbWw2YLzKf5fblM32FUaCGj1DXPg8RN-FpxifcBxVk155f2YCVfru_s);
  background-position: center;
  height: 15vh;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg-twin{
  background-image: url();
  background-position: center;
  height: 15vh;
  background-size: contain;
  background-repeat: no-repeat;
}